---
layout: default
title: Jose Barba-Montoya's stuff
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
<p style="text-align:center;"><img src="/img/photo5.jpg" height="250" width="250"></p>	

	  {% for post in site.posts %}
 <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
<p style="text-align:center;"><img src="/img/photo8.jpg" height="500" width="750"></p>	
