<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="/img/photo4.png" type="image/png" />
			<!-- Global site tag (gtag.js) - Google Analytics -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118331857-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118331857-1');
</script>

		</head>
		
		
		
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research">Research</a></li>
        		<li><a href="/about">About</a></li>
        		<li><a href="/blog">Stuff</a></li>
    		</ul>
		</nav>
		<hr>
		<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="mailto:j.barba@temple.edu">email</a></li>
			</ul>
		</footer>
	</body>
</html>
